.pergunta-resposta {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.pergunta {
  font-weight: bold;
}

.resposta {
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

label {
  font-size: 1.2rem;
  margin-right: 1rem;
}

input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 1rem;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.fibonacci-verificador {
  padding: 10px;
}

.verificar-button {
  margin-right: 10px;
}
